<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav nav-center">
        <li><%= link_to "Sign In/Up", sessions_path %></li>
        <li><%= link_to "Profile", profile_path %></li>
        <li><%= link_to "Applicants", "" %></li>
        <li><%= link_to "Employers", "" %></li>
      </ul>
    </div>
  </div>
</div>